#
# TLS configuration
#
config TLS
	tristate "Transport Layer Security support"
	depends on NET
	default m
	---help---
	Enable kernel support for TLS protocol. This allows processing
	of protocol in kernel as well as oflloading it to HW.

	If unsure, say N.
