#
# Mellanox ipsec accelerator driver configuration
#

config MLX_ACCEL_IPSEC
	tristate "Mellanox Technologies IPSec accelarator driver"
	depends on MLX_ACCEL_CORE
	depends on XFRM_OFFLOAD
	depends on INET_ESP_OFFLOAD || INET6_ESP_OFFLOAD
	default n
	---help---
	  IPsec accelarator driver by Mellanox Technologies.

