#
# Mellanox accelerator core driver configuration
#

config MLX_ACCEL_CORE
	tristate "Mellanox Technologies ConnectX-4 accelerator core driver"
	depends on MLX5_INFINIBAND && MLX5_CORE_EN && MLX5_CORE
	default n
	---help---
	  Core driver for low level functionality of the ConnectX-4 accelerator
	  by Mellanox Technologies.

config MLX_ACCEL_QP_SIMULATOR
	bool
	depends on MLX_ACCEL_CORE
	default y
	---help---
	  Use QP based simulator instead of the actual FPGA.
